/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  display: flex;
  height: 100vh;
  background-color: #9F91CC;
  font-family: 'Averia Libre', cursive;
  color: #ffffff;
}

.container {
  margin: auto;
  width: 600px;
  max-width: 90%;
}

h1 {
  display: none;
}


/* Score board styles */
#score-board {
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
  border-radius: 20px;
  background-color: #5C4B99;
}

.individual-score-board {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
  padding: 15px 30px;
  font-size: 42px;
}

.score-cell {
  flex-grow: 1;
}

#my-score-board {
  border-radius: 20px;
  border: 10px solid #5C4B99;
}

#my-score-el {
  text-align: right;
}

#computer-score-board {
  border-radius: 20px;
  border: 10px solid #5C4B99;
}

#computer-name {
  text-align: right;
}


/* Hands styles */
#hands-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px auto;
}

.hand-component {
  flex-grow: 1;
  text-align: center;
  padding: 15px 30px;
  font-size: 120px;
  border-radius: 20px;
  border: none;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#my-hand {
  background-color: #5C4B99;
  border: 10px solid #5C4B99;
}

#computer-hand {
  background-color: #5C4B99;
  border: 10px solid #5C4B99;
}

#result-el {
  display: none;
}


/* Button styles */
#buttons-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

button:hover {
  background-color: #9ED2BE;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.choice-btn {
  background-color: #5C4B99;
  flex-grow: 1;
  text-align: center;
  padding: 15px 30px;
  font-size: 96px;
  border-radius: 20px;
  border: none;
  box-shadow: 10px 10px 1px #3D246C;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 186.667px;
}

#restart-btn {
  display: none;
  font-family: 'Averia Libre', cursive;
  color: #ffffff;
  background-color: #5C4B99;
  flex-grow: 1;
  text-align: center;
  padding: 15px 30px;
  font-size: 60px;
  border-radius: 20px;
  border: none;
  box-sizing: border-box;
  box-shadow: 10px 10px #3D246C;
}

#restart-btn:hover {
  background-color: #9ED2BE;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

/* Mobile styles */
@media (max-width: 650px) {
  .individual-score-board {
    font-size: 36px;
  }
  .hand-component {
    height: 217.2px;
    font-size: 90px;
  }
  .choice-btn {
    height: 171.467px;
    font-size: 60px;
  }
  #restart-btn {
    font-size: 36px;
  }
}

@media (max-width: 500px) {
  .individual-score-board {
    padding: 10px;
  }
  .hand-component {
    height: 108.3px;
    font-size: 60px;
  }
  .choice-btn {
    height: 93px;
    font-size: 36px;
  }
}